body{
 margin: 0;
}

#wrapper{
  width: 970px;
  margin: auto;
}

h3{
  margin: 5px;
  margin-left: -1px;
}

h3#interwebs{
  margin-top: -15px !important;
}

a#dns{
  text-decoration: none;
}

a.nodec{
  text-decoration: none;
  color: #0297ad;
}

img#icon{
  width: 120px;
  margin: 0;
  padding: 0;
}

img#home{
  width: 16px;
  margin: 0px;
}

img#phonepic{
  width: 48px;
  margin: 0px;
  margin-top: 5px;
}

img#client_server{
  width: 500px;
  margin: 0px;
}

img#ninja{
  width: 180px;
  margin: auto;
  margin-left: -25px;
  text-align: center;
}

img#lastImg{
  width: 115px;
  margin: 0px;
  display: inline-block;
}

hr {
    height: 1.5px;
    color: grey;
    background-color: grey;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-sizing: content-box;
    border: 0;
    border-top: 0px solid #eee;
}

#phone{
  width: 210px;
  color: #00c0dd;
  font-size: 24pt;
  font-weight: bold;
  display: inline-block;
}

#buttonOne{
  background-color: #5a91be;
  background: linear-gradient(#5a91be, #2864a0);
  /* #5a91be */
}

#buttonTwo{
  background-color: #e9845c;
  background: linear-gradient(#e9845c, #ee7302);
  margin-bottom: 0px !important;
}

#buttonThree{
  font-size: 10pt;
  background-color: #7bd0de;
  background: linear-gradient(#7bd0de, #00c4e1);
  /* text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
}

.button {
    width: auto;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    border-radius: 10px;
    box-shadow: 2.5px 2.5px 8px #989898;
    margin: 5px;
}

#header{
  width: 100%;
  margin: 0;
  padding: 0;
  display: inline-block;
}

#subHeader{
  font-size: 48pt;
  padding: 20px 10px;
  display: inline-block;
  margin: 0;
  vertical-align: top;
}

.blueText{
  color: #26669c;
  display: inline-block;
}

.blueTextNoFloat{
  color: #26669c;
}

.redText{
  color: #d72626;
  display: inline-block;
}

.center_text{
  text-align: center;
}

#www{
  height: auto;
  width: 97.4%;
  color: #FFF;
  font-size: 32pt;
  /* text-shadow: 0.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000; */
  background-color: #2e6c9f;
  background: linear-gradient(#2e6c9f, #5384ab, #2e6c9f);
  padding: 10px 0px 10px 25px;
  margin-top: -25px;
}

#mainContent{
  width: 100%;
  padding: 0px;
  margin: 0px;
  background: linear-gradient(#e3e3e3, #FFF, #FFF, #FFF);
}

#sidebar{
  height: auto;
  width: 22.5%;
  padding: 10px;
  /* padding-top: -25px !important; */
  font-weight: bolder;
  display: inline-block;
}

#advert{
  width: auto;
  padding: 20px;
  font-size: 20pt;
  background-image: url("img/ad_background.png");
}

#adText{
  color: white;
  text-align: center;
}

#main{
  height: auto;
  width: 70.35%;
  display: inline-block;
  margin: 0px;
  margin-left: -4px;
  padding: 15px;
}

#info{
  height: auto;
  width: 50%;
}

#textbox{
  height: auto;
  width: 620px;
  padding: 6.25px 12.5px;
  border: 5px solid #0087dd;


  background-color: white;
}

#dnsRow{
  width: 100%;
}

#contactInfo{
  width: 500px;
  display: inline-block;

  background-color: yellow;
}

#contact{
  display: inline-block;
}

.smallText{
  font-size: 8pt;
}

table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
    width: 682px;
}

#lastBox{
  width: 75%;
  padding-left: 25px;
  display: inline-block;

  /* background-color: green; */
}
