.idea/

icons/*.ttf
.DS_Store
/.wrangler
/node_modules
/tauri/src-tauri/target

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

.vscode/*
/tauri/.vscode
/StatuspageHTML/output
/StatuspageHTML/tmp
/tmp
/autogen
/preact/dist
