ul {
    list-style-type: none;
    margin: -5px;
    margin-bottom: 1px;
    padding: 0;
    overflow: hidden;
    background-color: DarkGray;
}

li {
    float: left;
    border-right: 1px solid #bbb;
}

li div {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}

li button {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

button {
    margin-top: 30%;
}
