<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <meta name="author" content="rtsfred3">
        <meta name="application-name" content="(Unofficial) Cloudflare Status">
        <meta name="theme-color" content="#53C68C">
        <meta name="description" content="A website to monitor a website monitored by Cloudflare Status.">
        <meta name="keywords" content="Cloudflare Statuspage, Cloudflare Status Page, Cloudflare Status, Statuspage, Status">
        
        <!-- <meta itemprop="name" content="(Unofficial) Cloudflare Status">
        <meta itemprop="description" content="A website to monitor a website monitored by Cloudflare Status.">
        <meta itemprop="image" content="http://spstat.us/img/status/lowres/min/status-min-good.png"> -->

        <meta property="og:site_name" content="(Unofficial) Cloudflare Statuspage">
        <meta property="og:title" content="(Unofficial) Cloudflare Status">
        <meta property="og:description" content="A website to monitor a website monitored by Cloudflare Status.">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://spstat.us/">
        <meta property="og:image" content="https://spstat.us/img/status/lowres/min/status-min-good.png">
        <meta property="og:image:type" content="image/png" />
        <meta property="og:image:width" content="300" />
        <meta property="og:image:height" content="300" />
        
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="(Unofficial) Cloudflare Status">
        <meta name="twitter:description" content="A website to monitor a website monitored by Cloudflare Status.">
        <meta name="twitter:image" content="https://spstat.us/img/status/lowres/min/status-min-good.webp">
        
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="(Unofficial) Cloudflare Status">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#53C68C">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0.0" />
        <meta name="HandheldFriendly" content="true" />

        <link rel="canonical" href="https://spstat.us/" />
        
        <link rel="icon" type="image/x-icon" href="https://spstat.us/favicon.ico">
        <link rel="apple-touch-icon" sizes="144x144" href="https://spstat.us/img/maskable/144px.png">

        <link rel="dns-prefetch" href="//www.cloudflarestatus.com/" />
        <link rel="preconnect" href="//www.cloudflarestatus.com/">

        <link rel="manifest" href="/manifest.json">

        <title>(Unofficial) Cloudflare Status</title>

        <script type="application/ld+json">
            {
                "@context": "http://schema.org/",
                "@type": "WebApplication",
                "name": "(Unofficial) Cloudflare Status",
                "alternateName": "CloudflareStatus",
                "description": "An unofficial website to monitor Cloudflare status updates.",
                "softwareVersion": "{{version}}",
                "applicationCategory": "DeveloperApplication, BrowserApplication",
                "browserRequirements": "Required HTML5 Support",
                "operatingSystem": "Android, iOS, MacOS, Windows, Linux",
                "softwareRequirements": "Modern Web Browser",
                "url": "https://spstat.us/",
                "screenshot": "https://img.spstat.us/img/screenshots/screenshot1.webp",
                "image": "https://img.spstat.us/img/status/highres/min/status-min-good.png",
                "thumbnailUrl": "https://img.spstat.us/img/status/lowres/min/status-min-good.png",
                "author": [{
                    "@type": "Person",
                    "name": "Ryan Fredrickson",
                    "jobTitle": "Software Developer",
                    "url": "https://github.com/rtsfred3"
                }],
                "maintainer": {
                    "@type": "Person",
                    "name": "Ryan Fredrickson",
                    "jobTitle": "Software Developer",
                    "url": "https://github.com/rtsfred3"
                },
                "offers": {
                    "@type": "Offer",
                    "price": "0.00",
                    "priceCurrency": "USD"
                }
            }
        </script>

        <!-- <script>
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./sw.js').then(function(reg) {
                    console.log(reg);
                }).catch(function(err) {
                    console.log(err);
                });
            }
        </script> -->

        <!-- <link rel="stylesheet" href="../styling/github.amp.css"> -->
        <!-- <link rel="stylesheet" href="../styling/github.css"> -->
        <!-- <link rel="stylesheet" href="../styling/messages.css"> -->

        <!-- <script src="../js/StatuspageHTML.js"></script> -->

        <style>
            :root{--good:#339966;--none:var(--good);--minor:#DBAB09;--major:#E25D10;--critical:#DC3545;--maintenance:#0366D6;--loading:#4F93BD;--unavailable:var(--loading);--error:#646464;--font:var(--error);--incident-good:var(--good);--incident-none:#000000;--incident-minor:#F1C40F;--incident-major:#FF9900;--incident-critical:#990000;--incident-maintenance:var(--maintenance);--incident-error:var(--error);--good-text:"good";--none-text:var(--good-text);--minor-text:"minor";--major-text:"major";--critical-text:"critical";--maintenance-text:"maintenance";--loading-text:"loading";--unavailable-text:"unavailable";--error-text:"error"}*{margin:0;padding:0}body{font-family:arial}.fullScreen,.statuspage-status:has(.fullScreen),:has(.fullScreen),[fullScreen],statuspage-error,statuspage-loading,statuspage-unavailable{height:100vh}.statuspage-status:not(.fullScreen),statuspage-component,statuspage-status{height:240px}.statuspage-status,statuspage-component,statuspage-error,statuspage-loading,statuspage-status,statuspage-unavailable{width:100vw;text-align:center;justify-content:center;align-items:center;display:block;display:flex;font-size:48pt}.statuspage-status[data-status]::before,statuspage-error::before,statuspage-loading::before,statuspage-status[data-status]::before,statuspage-unavailable::before{content:attr(data-status);text-transform:uppercase;font-weight:700;color:#fff}statuspage-component[data-message]::before{content:attr(data-message);font-weight:700;color:#fff}.statuspage-status[data-status=good]::before,.statuspage-status[data-status=none]::before,statuspage-status[data-status=good]::before,statuspage-status[data-status=none]::before{content:var(--good-text)}statuspage-loading::before{content:var(--loading-text)}statuspage-unavailable::before{content:var(--unavailable-text)}statuspage-error::before{content:var(--error-text)}@media only screen and (max-height:400px){.statuspage-status:not(.fullScreen),statuspage-status{height:45vh}}@media only screen and (max-width:320px) and (max-height:320px){.statuspage-status:not(.fullScreen),statuspage-status{height:100vh}}@media only screen and (min-width:2048px) and (min-height:1080px){.statuspage-status:not(.fullScreen),statuspage-status{height:30vh}.statuspage-status,statuspage-error,statuspage-loading,statuspage-status,statuspage-unavailable{font-size:12em}}@media only screen and (((min-width:2100px) and (min-height:1100px)) or ((min-width:3000px) and (min-height:2000px))){.statuspage-status:not(.fullScreen),statuspage-status{height:40vh}.statuspage-status,statuspage-error,statuspage-loading,statuspage-status,statuspage-unavailable{font-size:16em}}[data-status=good],[data-status=none]{background-color:var(--none)}[data-status=minor]{background-color:var(--minor)}[data-status=major]{background-color:var(--major)}[data-status=critical]{background-color:var(--critical)}[data-status=maintenance]{background-color:var(--maintenance);font-weight:500}[data-status=loading],[data-status=unavailable],statuspage-loading,statuspage-unavailable{background-color:var(--loading)}[data-status=error],statuspage-error{background-color:var(--error)}@media only screen and (min-width:351px) and (max-width:450px){[data-status=maintenance]{font-size:36pt}}@media only screen and (min-width:251px) and (max-width:350px){[data-status=maintenance]{font-size:30pt}}@media only screen and (min-width:151px) and (max-width:250px){[data-status=maintenance]{font-size:20pt}}

            .messages-empty{padding:3vh 7.5vw 0;color:var(--font)}.messages-empty-all-good{font-size:36pt;font-weight:600;margin-bottom:2.5vh}.messages-empty-body{font-size:9pt;font-weight:500}.messages{margin:1.5em 0;padding:0}.message-body{font-size:11pt;margin:1em 2.5vw}.date{font-size:9pt!important;color:var(--font)}[data-impact]{height:45px;font-size:14pt;color:#f8f8f8}[data-impact]::before{content:attr(data-impact)}[data-impact=error],[data-impact=good]{width:120px}[data-impact=maintenance],[data-impact=minor],[data-impact=none]{width:200px}[data-impact=good]{background-color:var(--incident-good)}[data-impact=none]{background-color:var(--incident-none)}[data-impact=minor]{background-color:var(--incident-minor)}[data-impact=major]{width:280px;background-color:var(--incident-major)}[data-impact=critical]{width:360px;background-color:var(--incident-critical)}[data-impact=maintenance]{background-color:var(--incident-maintenance)}[data-impact=error]{background-color:var(--incident-error)}@media only screen and (max-width:850px){[data-impact=good]{width:20vw}[data-impact=maintenance],[data-impact=minor],[data-impact=none]{width:40vw}[data-impact=major]{width:60vw}[data-impact=critical]{width:80vw}[data-impact=error]{width:50vw}.message-body{margin:3vh 4vw}}@media only screen and (max-width:400px){.message-body{margin:3vh 7vw}}@media only screen and (max-width:320px) and (max-height:320px){.messages{display:none;height:0}}@media only screen and (min-width:2048px) and (min-height:1080px){.message-body,[data-impact]{font-size:2.5em}[data-impact=good]{width:20vw}[data-impact=maintenance],[data-impact=minor],[data-impact=none]{width:40vw}[data-impact=major]{width:60vw}[data-impact=critical]{width:80vw}[data-impact=error]{width:50vw}[data-impact]{height:2em}.date{font-size:.75em!important}}@media (min-width:2100px) and (min-height:1100px){[data-impact]{height:1.75em;font-size:3.5em}.message-body{font-size:3em}.messages{margin:3em 0}}@media (min-width:3000px) and (min-height:2000px){[data-impact]{height:1.75em;font-size:5em}.message-body{font-size:4em}}[data-impact]{padding-right:.5em;vertical-align:middle;display:table-cell!important;text-align:end}
        </style>

        <script>
            class StatuspageDictionary{static SiteNameValue="{{SiteName}}";static AmpIndicatorValue="{{indicator}}";static replaceableStringValue="{}";static get HTMLTags(){return Object.freeze({StatuspageApp:"statuspage-app",StatuspageError:"statuspage-error",StatuspageLoading:"statuspage-loading",StatuspageUnavailable:"statuspage-unavailable",StatuspageStatus:"statuspage-status",StatuspageComponent:"statuspage-component",StatuspageComponents:"statuspage-components",StatuspageIncidents:"statuspage-incidents",StatuspageSummary:"statuspage-summary",StatusElement:"status-element"})}static get StatuspageHTMLTemplates(){return Object.freeze({template_title_index:`(Unofficial) ${this.replaceableStringValue} Status`,template_title_status:`(Unofficial) Mini ${this.replaceableStringValue} Status`,template_title_components:`(Unofficial) ${this.replaceableStringValue} Status Components`,template_title_amp:`(Unofficial) ${this.replaceableStringValue} Status AMP`,template_title_maintenance:"Under Maintenance",template_title_error:`(Unofficial) ${this.replaceableStringValue} Status - Error`,template_title_unavailable:`(Unofficial) ${this.replaceableStringValue} Status - Unavailable`,template_descrisption:`An unofficial website to monitor ${this.replaceableStringValue} status updates.`,get[this.PathNames.Index](){return this.template_title_index.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Summary](){return this.template_title_index.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Status](){return this.template_title_status.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Components](){return this.template_title_components.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Amp](){return this.template_title_amp.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Maintenance](){return this.template_title_maintenance.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Error](){return this.template_title_error.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Unavailable](){return this.template_title_unavailable.replace(this.replaceableStringValue,this.SiteNameValue)},get[this.PathNames.Description](){return this.template_descrisption.replace(this.replaceableStringValue,this.SiteNameValue)}})}static get StatusEnums(){return Object.freeze({good:"good",minor:"minor",major:"major",critical:"critical",error:"error",maintenance:"maintenance",unavailable:"unavailable",loading:"loading",none:"none",resolved:"resolved",operational:"operational",degraded_performance:"degraded_performance",partial_outage:"partial_outage",major_outage:"major_outage",under_maintenance:"under_maintenance"})}static get MetaColors(){return Object.freeze({[this.StatusEnums.none]:"#339966",[this.StatusEnums.minor]:"#DBAB09",[this.StatusEnums.major]:"#E25D10",[this.StatusEnums.critical]:"#DC3545",[this.StatusEnums.unavailable]:"#4F93BD",[this.StatusEnums.error]:"#646464",[this.StatusEnums.maintenance]:"#0366D6",psa:"#D83D42",get[this.StatusEnums.good](){return this.none},get[this.StatusEnums.under_maintenance](){return this.maintenance},get[this.StatusEnums.loading](){return this.unavailable},get[this.StatusEnums.operational](){return this.none},get[this.StatusEnums.degraded_performance](){return this.minor},get[this.StatusEnums.partial_outage](){return this.major}})}static get IndicatorVals(){return Object.freeze({[this.StatusEnums.good]:this.StatusEnums.good,[this.StatusEnums.minor]:this.StatusEnums.minor,[this.StatusEnums.major]:this.StatusEnums.major,[this.StatusEnums.critical]:this.StatusEnums.critical,[this.StatusEnums.error]:this.StatusEnums.error,[this.StatusEnums.maintenance]:this.StatusEnums.maintenance,[this.StatusEnums.unavailable]:this.StatusEnums.unavailable,[this.StatusEnums.loading]:this.StatusEnums.loading,get[this.StatusEnums.resolved](){return this.good},get[this.StatusEnums.none](){return this.good},get[this.StatusEnums.operational](){return this.good},get[this.StatusEnums.degraded_performance](){return this.minor},get[this.StatusEnums.partial_outage](){return this.major},get[this.StatusEnums.major_outage](){return this.critical},get[this.StatusEnums.under_maintenance](){return this.maintenance}})}static get IndicatorMessages(){return Object.freeze({[this.StatusEnums.resolved]:this.StatusEnums.good,[this.StatusEnums.minor]:this.StatusEnums.minor,[this.StatusEnums.major]:this.StatusEnums.major,[this.StatusEnums.critical]:this.StatusEnums.critical})}static get Paths(){return Object.freeze({[this.PathNames.Index]:"/",[this.PathNames.Status]:"/status/",[this.PathNames.Components]:"/components/",[this.PathNames.Amp]:"/amp/"})}static get PathNames(){return Object.freeze({Index:"Index",Summary:"Summary",Status:"Status",Component:"Component",Components:"Components",Amp:"Amp",Maintenance:"Maintenance",Unavailable:"Unavailable",Error:"Error",Description:"Description"})}}class StatuspageHTMLElements{static get AllGoodElement(){const t=document.createElement("div");return t.classList.add("messages-empty-all-good"),t.textContent="All good.",t}static ComponentlessStatusHtml(t){if(t in StatuspageDictionary.StatusEnums||t==StatuspageDictionary.AmpIndicatorValue){var e={id:"status","data-status":t,class:"statuspage-status fullScreen"};return StatuspageHTMLElements.TagStringAndAttributes("div",e)}return StatuspageHTMLElements.ComponentlessStatusHtml(StatuspageDictionary.StatusEnums.error)}static NoIncidentsElement(t){const e=document.createElement("div");e.classList.add("messages-empty");const a=document.createElement("div");return a.classList.add("messages-empty-body"),a.appendChild(document.createTextNode(`Nothing to see here folks. Looks like ${t} is up and running and has been stable for quite some time.`)),a.append(document.createElement("br"),document.createElement("br")),a.appendChild(document.createTextNode("Now get back to work!")),e.append(StatuspageHTMLElements.AllGoodElement,a),e}static GetStatusJson(t){return{status:{indicator:t in StatuspageDictionary.StatusEnums?t:StatuspageDictionary.StatusEnums.error},page:{id:null,name:null,url:null,updated_at:Date.now()}}}static GenerateAttributes(t){return Object.entries(t).map((t=>null!=t[1]?`${t[0]}="${t[1]}"`:`${t[0]}`)).join(" ")}static TagStringAndAttributes(t,e=null,a=null){return`<${t}${null!=e?` ${this.GenerateAttributes(e)}`:""}>${null!=a?a:""}</${t}>`}static ComponentsHTMLElement(t){var e=[];if("object"!=typeof t||!("components"in t))return e;for(var a=0;a<t.components.length;a++)if("Visit"!=t.components[a].name.substring(0,5)){var s=document.createElement(StatuspageWebComponents.Component.is,{is:StatuspageWebComponents.Component.is});s.id=t.components[a].id,s.dataStatus=StatuspageDictionary.IndicatorVals[t.components[a].status],s.dataMessage=t.components[a].name,e.push(s)}return e}static MessageBodyElement(t,e,a=null){var s=document.createElement("div");s.classList.add("message-body");var n=document.createElement("span");n.classList.add("date"),n.textContent=e;var i=document.createElement("div");return i.textContent=null!=a?`${a}: ${t}`:t,s.appendChild(i),s.appendChild(n),s}static MessageStatusElement(t){var e=document.createElement("div");return e.dataset.impact=t,e}static MessageHTMLElement(t,e,a,s,n,i,r,u,l){var o={year:"numeric",month:"short",day:"numeric",hour:"numeric",minute:"numeric"},p=s==StatuspageDictionary.StatusEnums.resolved?StatuspageDictionary.StatusEnums.good:a;null==p&&(p=StatuspageDictionary.IndicatorMessages[s]);var c=new Date(i).toLocaleDateString("en-US",o);if(l){o={month:"short",day:"2-digit",hour:"numeric",minute:"numeric"};var g=new Date(i);g=Date.UTC(g.getUTCFullYear(),g.getUTCMonth(),g.getUTCDate(),g.getUTCHours()+g.getTimezoneOffset()/60,g.getUTCMinutes(),g.getUTCSeconds()),c=new Date(g).toLocaleDateString("en-US",o)+" UTC"}const h=document.createElement("span");return h.id=t,h.appendChild(this.MessageStatusElement(p)),h.appendChild(this.MessageBodyElement(n,c,e)),h}static IncidentsHTMLElements(t,e=7,a=!1,s=!1){var n=new Date;n.setHours(0,0,0);var i=n.setDate((new Date).getDate()-e),r=[];if("incidents"in t&&(r=r.concat(0==e?t.incidents:t.incidents.filter((function(t){return new Date(t.created_at)>i})))),"scheduled_maintenances"in t&&s){var u=0==e?t.scheduled_maintenances:t.scheduled_maintenances.filter((function(t){return new Date(t.started_at)>i&&"in_progress"==t.status}));r=r.concat(u)}r.forEach((t=>{t.created_at=new Date(t.created_at),t.started_at=new Date(t.started_at),t.updated_at=new Date(t.updated_at),t.incident_updates.forEach((t=>{t.created_at=new Date(t.created_at),t.display_at=new Date(t.display_at),t.updated_at=new Date(t.updated_at)}))})),r=r.sort(((t,e)=>e.created_at-t.created_at));var l=document.createElement("div");if(l.id="messages",l.classList.add("messages"),0==r.length)l.appendChild(StatuspageHTMLElements.NoIncidentsElement(t.page.name));else for(var o=0;o<r.length;o++)if(r[o].incident_updates.length>0){const t=document.createElement("span");t.id=r[o].id;for(var p=0;p<r[o].incident_updates.length;p++)t.appendChild(StatuspageHTMLElements.MessageHTMLElement(r[o].incident_updates[p].id,r[o].name,r[o].impact,r[o].incident_updates[p].status,r[o].incident_updates[p].body,r[o].incident_updates[p].created_at,r[o].shortlink,p==r[o].incident_updates.length-1,a));l.appendChild(t)}return l}static GetLinkTag(t){return Array.from(document.getElementsByTagName("link")).find((e=>e.getAttribute("rel")==t))}static SetLinkTag(t,e){if("string"==typeof t)if(null!=this.GetLinkTag(t))this.GetLinkTag(t).setAttribute("href",e);else{var a=document.getElementsByTagName("head");a.length>0&&a[0].appendChild(this.LinkTag(t,e))}else if(Array.isArray(t))for(var s=0;s<t.length;s++)this.SetLinkTag(t[s],e)}static GetMetaTag(t,e="name"){return e=t.startsWith("og:")?"property":e,Array.from(document.getElementsByTagName("meta")).find((a=>a.hasAttribute(e)&&a.getAttribute(e)==t))}static SetMetaTag(t,e,a="name"){if("string"==typeof t)if(null!=StatuspageHTMLElements.GetMetaTag(t,a))StatuspageHTMLElements.GetMetaTag(t,a).setAttribute("content",e);else{var s=document.getElementsByTagName("head");s.length>0&&s[0].appendChild(this.MetaTag(t,e))}else if(Array.isArray(t))for(var n=0;n<t.length;n++)StatuspageHTMLElements.SetMetaTag(t[n],e,a)}static SetThemeColor(t){var e=StatuspageDictionary.MetaColors[t];StatuspageHTMLElements.SetMetaTag(["theme-color","apple-mobile-web-app-status-bar-style"],e)}static get HasLinkedData(){var t=Array.from(document.getElementsByTagName("script"));if(0!=(t=t.filter((t=>t.hasAttribute("type")&&"application/ld+json"==t.getAttribute("type")))).length){var e=t.pop().innerHTML;try{JSON.parse(e);return!0}catch(t){return!1}}return!1}static UpdateLinkedData(t,e){if(StatuspageHTMLElements.HasLinkedData){var a=Array.from(document.getElementsByTagName("script")).find((t=>t.hasAttribute("type")&&"application/ld+json"==t.getAttribute("type"))),s=JSON.parse(a.innerHTML);s[t]=e,a.innerHTML=JSON.stringify(s,null,2)}}static SetTitle(t,e=StatuspageDictionary.PathNames.Index){var a=StatuspageDictionary.StatuspageHTMLTemplates[e].replace(StatuspageDictionary.replaceableStringValue,t);StatuspageHTMLElements.UpdateLinkedData("name",a),StatuspageHTMLElements.UpdateLinkedData("alternateName",`${t}Status`),StatuspageHTMLElements.SetMetaTag(["application-name","og:site_name","og:title","twitter:title","apple-mobile-web-app-title"],a),document.getElementsByTagName("title")[0].innerText=a}static SetDescription(t){var e=StatuspageDictionary.StatuspageHTMLTemplates.template_descrisption.replace(StatuspageDictionary.replaceableStringValue,t);StatuspageHTMLElements.UpdateLinkedData("description",e),StatuspageHTMLElements.SetMetaTag(["description","og:description","twitter:description"],e)}static MetaTag(t,e,a="name"){var s=document.createElement("meta");return s.setAttribute(a,t),s.content=e,s}static LinkTag(t,e){var a=document.createElement("link");return a.rel=t,a.href=e,"icon"==t&&(a.type="image/x-icon"),a}static ScriptTag(t){var e=document.createElement("script");return e.src=t,e}static UpdateUrlTags(t){this.SetLinkTag("canonical",t),this.SetMetaTag("og:url",t)}static get StaticHTML(){return class{constructor(t,e,a,s,n=null,i=null,r=null,u=[],l=null,o=null,p=null){this._status=StatuspageDictionary.StatusEnums.loading,this.canonicalUrl=n,this.statuspageUrl=i,this.iconUrl=t,this.imgUrl=e,this.pathName=s,this.statusPathName=s,this.author=r,this.keywords=u,this._siteName=null!=a?a:"Statuspage",this._isBot=!1,this._title=o,this._description=p,this._additionalDescription=l,this._bodyTemplate=`<body id="body">${StatuspageDictionary.replaceableStringValue}</body>`}get prefetchStatuspageUrl(){return null!=this.statuspageUrl?this.statuspageUrl.replace("https:",""):null}get title(){return null!=this._title?this._title:StatuspageDictionary.StatuspageHTMLTemplates[this.statusPathName].replace(StatuspageDictionary.replaceableStringValue,this.siteName)}get description(){if(null!=this._description)return this._description;var t=StatuspageDictionary.StatuspageHTMLTemplates.template_descrisption.replace(StatuspageDictionary.replaceableStringValue,this.siteName);return null!=this._additionalDescription&&(t=null==t?this._additionalDescription:`${t} ${this._additionalDescription}`),t}get themeColor(){return StatuspageDictionary.MetaColors[this._status]}set status(t){"string"==typeof t&&t in StatuspageDictionary.StatusEnums&&(this._status=t)}get status(){return this._status}set siteName(t){"string"==typeof t&&(this._siteName=t)}get siteName(){return this._siteName}set isBot(t){"boolean"==typeof t&&(this._isBot=t)}get isBot(){return this._isBot}get LinkTagValues(){return{canonical:this.canonicalUrl,icon:this.iconUrl,"apple-touch-icon":this.imgUrl,"dns-prefetch":this.prefetchStatuspageUrl,preconnect:this.prefetchStatuspageUrl}}get Stylesheets(){return["https://spstat.us/styling/main.min.css"]}get Scripts(){return["https://spstat.us/js/StatuspageHTML.js"]}get MetaTagValues(){return{author:this.author,"application-name":this.title,"theme-color":this.themeColor,description:this.description,keywords:this.keywords.length>0?this.keywords.join(", "):null,"og:site_name":this.title,"og:title":this.title,"og:description":this.description,"og:type":"website","og:url":this.canonicalUrl,"og:image":this.imgUrl,"twitter:card":"summary","twitter:title":this.title,"twitter:description":this.description,"twitter:image":this.imgUrl,"mobile-web-app-capable":"yes","apple-mobile-web-app-capable":"yes","apple-mobile-web-app-status-bar-style":this.themeColor,"apple-mobile-web-app-title":this.title,viewport:"width=device-width, initial-scale=1.0, user-scalable=0.0",HandheldFriendly:"true"}}get LinkTags(){var t=[];for(const[e,a]of Object.entries(this.LinkTagValues))null!=a&&t.push(`<link ${StatuspageHTMLElements.GenerateAttributes({rel:e,href:a})}>`);if(!this.isBot)for(let e of this.Stylesheets)t.push(`<link ${StatuspageHTMLElements.GenerateAttributes({rel:"stylesheet",href:e})}>`);return t}get MetaTags(){var t=[];for(const[e,a]of Object.entries(this.MetaTagValues))null!=a&&t.push(`<meta ${StatuspageHTMLElements.GenerateAttributes({[e.includes("og:")?"property":"name"]:e,content:a})}>`);return t}get ScriptTags(){var t=[];if(this.isBot)return t;for(let e of this.Scripts)t.push(`<script ${StatuspageHTMLElements.GenerateAttributes({src:e})}><\/script>`);return t}get TitleTag(){return`<title>${this.title}</title>`}get Head(){return`<head>${`\n\t\t${this.MetaTags.join("\n\t\t")}`}${`\n\t\t${this.LinkTags.join("\n\t\t")}`}${this.ScriptTags.length>0?`\n\t\t${this.ScriptTags.join("\n\t\t")}`:""}${`\n\t\t${this.TitleTag}`}\n\t</head>`}get Body(){var t=StatuspageHTMLElements.TagStringAndAttributes(StatuspageDictionary.HTMLTags.StatuspageError);if(this.isBot)return this._bodyTemplate.replace(StatuspageDictionary.replaceableStringValue,"");if(this.pathName==StatuspageDictionary.PathNames.Status){var e={};null!=this.statuspageUrl?e["data-url"]=this.statuspageUrl:null!=this.status&&(e["data-status"]=this.status),0==Object.keys(e).length&&(e["data-status"]=StatuspageDictionary.StatusEnums.error),e.fullScreen=null,t=StatuspageHTMLElements.TagStringAndAttributes(StatuspageDictionary.HTMLTags.StatuspageStatus,e)}return this.pathName==StatuspageDictionary.PathNames.Summary&&(t=StatuspageHTMLElements.TagStringAndAttributes(StatuspageDictionary.HTMLTags.StatuspageSummary,{"data-url":this.statuspageUrl})),this.pathName==StatuspageDictionary.PathNames.Maintenance&&(t=StatuspageHTMLElements.TagStringAndAttributes(StatuspageDictionary.HTMLTags.StatuspageStatus,{"data-status":StatuspageDictionary.StatusEnums.maintenance,fullScreen:null})),this.pathName==StatuspageDictionary.PathNames.Unavailable&&(t=StatuspageHTMLElements.TagStringAndAttributes(StatuspageDictionary.HTMLTags.StatuspageUnavailable)),this.pathName==StatuspageDictionary.PathNames.Error&&(t=StatuspageHTMLElements.TagStringAndAttributes(StatuspageDictionary.HTMLTags.StatuspageError)),this._bodyTemplate.replace(StatuspageDictionary.replaceableStringValue,t)}get HTML(){return`<html>\n\t${this.Head}\n\t${this.Body}\n</html>`}get ErrorHTML(){return this.pathName=StatuspageDictionary.PathNames.Error,this.HTML}get UnavailableHTML(){return this.pathName=StatuspageDictionary.PathNames.Unavailable,this.HTML}BodyFromStatus(t){var e="";return t in StatuspageDictionary.StatusEnums&&(e=StatuspageHTMLElements.TagStringAndAttributes(StatuspageDictionary.HTMLTags.StatuspageStatus,{"data-status":t,fullScreen:null})),this._bodyTemplate.replace(StatuspageDictionary.replaceableStringValue,e)}HTMLFromStatus(t){return`<html>\n\t${this.Head}\n\t${this.BodyFromStatus(t)}\n</html>`}}}}class StatuspageWebComponents{static get App(){return class extends HTMLElement{constructor(){super()}connectedCallback(){if(console.log(`Starting ${StatuspageWebComponents.App.is}`),this.id="app",this.appendChild(StatuspageWebComponents.Loading.toHTML()),this.hasAttribute("data-url"))if(this.url=this.getAttribute("data-url"),this.removeAttribute("data-url"),location.pathname==StatuspageDictionary.Paths.Index)StatuspageHTMLElements.UpdateUrlTags(location.href),(a=document.createElement(StatuspageWebComponents.Summary.is,{is:StatuspageWebComponents.Summary.is})).baseUrl=this.url,a.isSingleRequest=!0,this.firstElementChild.replaceWith(a);else if(location.pathname==StatuspageDictionary.Paths.Components||location.pathname.endsWith(StatuspageDictionary.Paths.Components)){StatuspageHTMLElements.UpdateUrlTags(location.href);var t=document.createElement(StatuspageWebComponents.Components.is,{is:StatuspageWebComponents.Components.is});t.setAttribute("data-url",this.url),this.firstElementChild.replaceWith(t)}else if(location.pathname==StatuspageDictionary.Paths.Status||location.pathname.endsWith(StatuspageDictionary.Paths.Status)){var e=document.createElement(StatuspageWebComponents.Status.is,{is:StatuspageWebComponents.Status.is});e.baseUrl=this.url,e.fullScreen=!0,this.firstElementChild.replaceWith(e)}else{var a;StatuspageHTMLElements.UpdateUrlTags(location.href),(a=document.createElement(StatuspageWebComponents.Summary.is,{is:StatuspageWebComponents.Summary.is})).baseUrl=this.url,a.isSingleRequest=!0,this.removeChild(this.firstChild),this.appendChild(a)}console.log(`Finished ${StatuspageWebComponents.App.is}`)}toString(){return this.outerHTML.toString()}static get is(){return StatuspageDictionary.HTMLTags.StatuspageApp}}}static get StatusElement(){return class extends HTMLElement{constructor(t){super(),this.status=t}connectedCallback(){StatuspageHTMLElements.SetThemeColor(this.status)}toString(){return this.outerHTML.toString()}static get is(){return StatuspageDictionary.HTMLTags.StatusElement}static toHTML(){return document.createElement(this.is,{is:this.is})}static toString(){return`<${this.is}></${this.is}>`}}}static get Error(){return class extends StatuspageWebComponents.StatusElement{constructor(){super(StatuspageDictionary.StatusEnums.error)}static get is(){return StatuspageDictionary.HTMLTags.StatuspageError}}}static get Loading(){return class extends StatuspageWebComponents.StatusElement{constructor(){super(StatuspageDictionary.StatusEnums.loading)}static get is(){return StatuspageDictionary.HTMLTags.StatuspageLoading}}}static get Unavailable(){return class extends StatuspageWebComponents.StatusElement{constructor(){super(StatuspageDictionary.StatusEnums.unavailable)}static get is(){return StatuspageDictionary.HTMLTags.StatuspageUnavailable}}}static get Status(){return class extends HTMLElement{static get observedAttributes(){return["data-status","data-url","status","fullscreen"]}set isLoading(t){"boolean"==typeof t&&this.data._isLoadingEnabled&&(this.data._isLoading=t,this.data._isLoading||(null!=this.data._status?this.setAttribute("data-status",this.data._status):null==this.data._status&&this.removeAttribute("data-status"),!this.data._fullScreen&&this.hasAttribute("fullScreen")&&this.removeAttribute("fullScreen"),this.data._fullScreen&&!this.hasAttribute("fullScreen")&&this.setAttribute("fullScreen","")),this.data._isLoading&&(this.setAttribute("data-status",StatuspageDictionary.StatusEnums.loading),this.hasAttribute("fullScreen")||this.setAttribute("fullScreen","")))}get isLoading(){return this.data._isLoading}set fullScreen(t){"boolean"==typeof t?(this.data._fullScreen=t,this.data._isFullScreenSet=!0,this.data._fullScreen?this.hasAttribute("fullScreen")||this.setAttribute("fullScreen",""):this.removeAttribute("fullScreen")):console.error(`'${t}' is not a boolean.`)}get fullScreen(){return this.data._fullScreen}set dataStatus(t){"string"==typeof t&&t in StatuspageDictionary.StatusEnums?(this.data._status=t,this.dataset.status=t,this.hasAttribute("status")&&this.removeAttribute("status"),StatuspageHTMLElements.SetThemeColor(this.data._status),null==this.data._fullScreen&&(this.data._fullScreen=!1)):"string"==typeof t?console.error(`'${t}' is not a valid status.`):console.error(`'${t}' is not a string.`)}get dataStatus(){return this.data._status}set baseUrl(t){if("string"==typeof t)if(URL.canParse(this.data._urlPath,t)){var e=new URL(this.data._urlPath,t);this.data._baseUrl=e.origin,this.data._url=e.href,this.data._isLoadingEnabled=!0,"url"in this.dataset||(this.dataset.url=this.data._baseUrl)}else console.error(`${t} is an invalid URL`);else null!=t&&null!=t||(this.data._baseUrl=null,this.data._url=null)}get baseUrl(){return this.data._baseUrl}get url(){return this.data._url}constructor(){super(),this.data={_urlPath:"/api/v2/status.json",_baseUrl:null,_url:null,_fullScreen:null,_isLoading:!1,_status:void 0,_isFullScreenSet:!1,_isLoadingEnabled:!1}}connectedCallback(){console.log(`Starting ${StatuspageWebComponents.Status.is}`),StatuspageHTMLElements.UpdateUrlTags(location.href),null!=this.baseUrl&&(navigator.onLine?(this.isLoading=!0,this.fetchStatus(),delete this.dataset.url,this.isLoading=!1):this.setError()),console.log(this.toString()),console.log(`Finished ${StatuspageWebComponents.Status.is}`)}attributeChangedCallback(t,e,a){"status"==t&&null!=a&&a in StatuspageDictionary.StatusEnums&&(this.dataStatus=a),"data-status"==t&&null!=a&&a in StatuspageDictionary.StatusEnums&&(this.data._status=a,StatuspageHTMLElements.SetThemeColor(a)),"data-url"==t&&"null"!=a&&(this.baseUrl=a),"fullscreen"!=t||this.data._isFullScreenSet||this.isLoading||(this.fullScreen=null!=a)}fetchStatus(){return new Promise(((t,e)=>{console.log(this.url),navigator.onLine&&null!=this.url?fetch(this.url).then((t=>t.json())).then((e=>{"status"in e&&"indicator"in e.status&&(this.dataStatus=e.status.indicator),"page"in e&&"name"in e.page&&StatuspageHTMLElements.SetTitle(e.page.name,StatuspageDictionary.PathNames.Status),t()})).catch((t=>{this.setError(),e(t)})):navigator.onLine?null==this.url&&console.error(`this.url is ${this.url}`):console.log("Browser is offline")}))}setError(){this.dataStatus=StatuspageDictionary.StatusEnums.error,this.fullScreen=!0}toString(){return this.outerHTML.toString()}static get is(){return StatuspageDictionary.HTMLTags.StatuspageStatus}static toHTML(t,e=!1){var a=document.createElement(this.is,{is:this.is});return a.dataStatus=t,a.fullScreen=e,a}static staticHTML(t=null,e=null,a=!1){var s={};return null!=t&&(s["data-status"]=t),null!=e&&(s["data-url"]=e),a&&(s.fullScreen=null),`<${this.is} ${StatuspageHTMLElements.GenerateAttributes(s)}></${this.is}>`}}}static get Component(){return class extends HTMLElement{set dataStatus(t){"string"==typeof t&&(this.dataset.status=t)}get dataStatus(){return this.dataset.status}set dataMessage(t){"string"==typeof t&&(this.dataset.message=t)}get dataMessage(){return this.dataset.message}constructor(){super()}toString(){return this.outerHTML.toString()}static get is(){return StatuspageDictionary.HTMLTags.StatuspageComponent}static staticHTML(t,e){var a={"data-status":t,"data-message":e};return`<${this.is} ${StatuspageHTMLElements.GenerateAttributes(a)}></${this.is}>`}}}static get Components(){return class extends HTMLElement{constructor(){super()}connectedCallback(){console.log(`Starting ${StatuspageWebComponents.Components.is}`),this.appendChild(StatuspageWebComponents.Loading.toHTML()),this.hasAttribute("data-json")?this.parseJson(JSON.parse(this.getAttribute("data-json"))):this.hasAttribute("data-url")?this.fetchComponents(this.getAttribute("data-url")):this.replaceWith(StatuspageWebComponents.Error.toHTML()),console.log(`Finished ${StatuspageWebComponents.Components.is}`)}fetchComponents(t){return new Promise(((e,a)=>{var s="/"==t.slice(-1)?t.substring(0,t.length-1):t;fetch(s+"/api/v2/components.json").then((t=>t.json())).then((t=>{this.parseJson(t),e()})).catch((t=>a(t)))}))}parseJson(t){for(var e=StatuspageHTMLElements.ComponentsHTMLElement(t),a=0;a<e.length;a++)this.append(e[a]);this.removeChild(this.firstElementChild)}toString(){return this.outerHTML.toString()}static get is(){return StatuspageDictionary.HTMLTags.StatuspageComponents}}}static get Incidents(){return class extends HTMLElement{static get observedAttributes(){return["data-json","data-url"]}set dataJson(t){"string"==typeof t&&(this._dataJson=JSON.parse(t)),"object"==typeof t&&(this._dataJson=t),null!=this._dataJson&&(this._incidentsElements=StatuspageHTMLElements.IncidentsHTMLElements(this._dataJson,this.previousDays,!1,this.showMaintenance))}get dataJson(){return this._dataJson}set baseUrl(t){if("string"==typeof t&&URL.canParse(this._urlPath,t)){var e=new URL(this._urlPath,t);this._baseUrl=e.origin,this._url=e.href,this.dataset.url||(this.dataset.url=this._baseUrl)}}get baseUrl(){return this._baseUrl}get url(){return this._url}get incidentElements(){return this._incidentsElements}set showMaintenance(t){"boolean"==typeof t&&(this._showMaintenance=t)}get showMaintenance(){return this._showMaintenance}set previousDays(t){"number"==typeof t&&(this._previousDays=t)}get previousDays(){return this._previousDays}constructor(){super(),this._urlPath="/api/v2/incidents.json",this._baseUrl=null,this._url=null,this._previousDays=7,this._showMaintenance=!1,this._dataJson=null,this._incidentsElements=null}connectedCallback(){console.log(`Starting ${StatuspageWebComponents.Incidents.is}`),null!=this.url&&this.fetchIncidents(),null!=this.incidentElements&&this.replaceWith(this.incidentElements),console.log(`Finished ${StatuspageWebComponents.Incidents.is}`)}attributeChangedCallback(t,e,a){"data-json"==t&&null!=a&&(this.dataJson=a),"data-url"==t&&null!=a&&(this.baseUrl=a)}fetchIncidents(){return new Promise(((t,e)=>{navigator.onLine&&null!=this.url&&fetch(this.url).then((t=>t.json())).then((e=>{this.dataJson=e,t()})).catch((t=>e(t)))}))}toString(){return this.outerHTML.toString()}static get is(){return StatuspageDictionary.HTMLTags.StatuspageIncidents}}}static get Summary(){return class extends HTMLElement{static get observedAttributes(){return["data-url","data-single-request"]}set isSingleRequest(t){"boolean"==typeof t&&(this._isSingleRequest=t,this.dataset.singleRequest||(this.dataset.singleRequest=t))}get isSingleRequest(){return this._isSingleRequest}set baseUrl(t){if("string"==typeof t){if(URL.canParse(this._urlPath,t)){var e=new URL(this._urlPath,t);this._baseUrl=e.origin,this._url=e.href}this.dataset.url||(this.dataset.url=this.baseUrl)}}get baseUrl(){return this._baseUrl}get url(){return this._url}constructor(){super(),this._urlPath="/api/v2/summary.json",this._baseUrl=null,this._url=null,this._isLoading=!1,this._isSingleRequest=!0,this._dataJson=null}connectedCallback(){console.log(`Starting ${StatuspageWebComponents.Summary.is}`),this.singleRequest=!0,this.appendChild(StatuspageWebComponents.Loading.toHTML()),this.status=document.createElement(StatuspageWebComponents.Status.is,{is:StatuspageWebComponents.Status.is}),this.incidents=document.createElement(StatuspageWebComponents.Incidents.is,{is:StatuspageWebComponents.Incidents.is}),this.incidents.previousDays=365,null!=this.baseUrl&&navigator.onLine?this.isSingleRequest?this.fetchSummary():(this.status.baseUrl=this.baseUrl,this.incidents.baseUrl=this.baseUrl,this.firstElementChild.replaceWith(this.status),this.appendChild(this.incidents)):this.replaceWith(StatuspageWebComponents.Error.toHTML()),console.log(`Finished ${StatuspageWebComponents.Summary.is}`)}attributeChangedCallback(t,e,a){"data-url"==t&&(this.baseUrl=a),"data-single-request"==t&&null!=a&&(this.isSingleRequest="true"===this.dataset.singleRequest.toLowerCase())}fetchSummary(){return new Promise(((t,e)=>{fetch(this.url).then((t=>t.json())).then((e=>{this.parseJson(e),t()})).catch((t=>{e(t)}))}))}parseJson(t){"status"in t?(this.status.dataStatus=t.status.indicator,this.incidents.dataJson=t,this.firstElementChild.replaceWith(this.status),this.appendChild(this.incidents),"page"in t&&"name"in t.page&&(StatuspageHTMLElements.SetTitle(t.page.name,StatuspageDictionary.PathNames.Index),StatuspageHTMLElements.SetDescription(t.page.name))):this.firstElementChild.replaceWith(StatuspageWebComponents.Loading.toHTML())}toString(){return this.outerHTML.toString()}static get is(){return StatuspageDictionary.HTMLTags.StatuspageSummary}}}}customElements.define(StatuspageWebComponents.App.is,StatuspageWebComponents.App),customElements.define(StatuspageWebComponents.Error.is,StatuspageWebComponents.Error),customElements.define(StatuspageWebComponents.Loading.is,StatuspageWebComponents.Loading),customElements.define(StatuspageWebComponents.Unavailable.is,StatuspageWebComponents.Unavailable),customElements.define(StatuspageWebComponents.Status.is,StatuspageWebComponents.Status),customElements.define(StatuspageWebComponents.Component.is,StatuspageWebComponents.Component),customElements.define(StatuspageWebComponents.Components.is,StatuspageWebComponents.Components),customElements.define(StatuspageWebComponents.Incidents.is,StatuspageWebComponents.Incidents),customElements.define(StatuspageWebComponents.Summary.is,StatuspageWebComponents.Summary);
        </script>
    </head>
    <body id="body">
        <statuspage-app data-url="https://www.cloudflarestatus.com"></statuspage-app>

        <!-- <statuspage-error></statuspage-error> -->
        <!-- <statuspage-unavailable></statuspage-unavailable> -->
        <!-- <statuspage-loading></statuspage-loading> -->
        <!-- <div><statuspage-status status="maintenance" fullScreen></statuspage-status></div> -->
        <!-- <div><statuspage-status status="none" fullScreen></statuspage-status></div> -->
        <!-- <div><statuspage-status data-status="good" fullScreen></statuspage-status></div> -->
        <!-- <div><statuspage-status status="none" fullScreen></statuspage-status></div> -->
        <!-- <div><statuspage-status status="minor" fullScreen></statuspage-status></div> -->
        <!-- <div><statuspage-status status="major" fullScreen></statuspage-status></div> -->
        <!-- <div><statuspage-status status="critical" fullScreen></statuspage-status></div> -->
        <!-- <statuspage-status data-url="https://www.cloudflarestatus.com" fullScreen></statuspage-status> -->
        <!-- <statuspage-status data-url="https://www.cloudflarestatus.com" fullScreen autoRefresh></statuspage-status> -->
        <!-- <statuspage-summary data-url="https://www.cloudflarestatus.com"></statuspage-summary> -->
        <!-- <statuspage-summary data-url="https://www.cloudflarestatus.com" data-single-request="false"></statuspage-summary> -->
        <!-- <statuspage-status data-url="https://www.cloudflarestatus.com/" data-status="loading" fullScreen></statuspage-status> -->
    </body>
</html>
