body {
    padding: 0px;
    margin: 5px;
}

hr {
    height: 7.5px;
    color: grey;
    background-color: grey;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 2.5px;
    box-sizing: content-box;
    border: 0;
    border-top: 1px solid #eeeeee;
}

svg {
    width: 100%;
    margin: 0px;
    left: 0px;
    right: 0px;
    padding: 0px;
    display: block;
}

table {
    border: 0px solid black;
    border-collapse: collapse;
    left: 0px;
    padding: 0px;
    margin: 0px;
}

tr, td {
    border: 0px solid black;
    height: 0px;
    padding: 0px;
    margin: 0px;
}

td#status {
    border-collapse: collapse;
    padding-left: 2px;
    padding-right: 2px;
}

td#border {
    border: 0px solid black;
    width: 30px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

font{
    color: #404040;
    font-size: 10;
    font-family: verdana;
    padding-bottom: 0;
}

font.all{
    size: 3;
    font-family: verdana;
}

.green {
    font-size: 90px;
    color: green;
    font-family: verdana;
}

.orange {
    font-size: 90px;
    color: orange;
    font-family: verdana;
}

.red {
    font-size: 90px;
    color: red;
    font-family: verdana;
}

.black {
    font-size: 90px;
    color: black;
    font-family: verdana;
}

.date {
    font-size: 10px;
    color: gray;
    font-family: verdana;
    padding-top: 5px;
}
