body {
    padding: 0px !important;
    margin: 5px !important;
}

hr {
    height: 7.5px;
    color: grey;
    background-color: grey;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 2.5px;
    box-sizing: content-box;
    border: 0;
    border-top: 1px solid #eeeeee;
}

font{
    color: #404040 !important;
    font-size: 10 !important;
    font-family: verdana !important;
}

font.all{
    size: 0;
    font-family: verdana;
}

.good {
    font-size: 90px !important;
    color: green !important;
    font-family: verdana !important;
}

.minor {
    font-size: 90px !important;
    color: orange !important;
    font-family: verdana !important;
}

.major {
    font-size: 90px !important;
    color: red !important;
    font-family: verdana !important;
}

.black {
    font-size: 90px !important;
    color: black !important;
    font-family: verdana !important;
}
