body {
    padding: 0px !important;
    margin: 5px !important;
}

font{
    color: #404040 !important;
    font-size: 10 !important;
    font-family: verdana !important;
    padding-bottom: 0 !important;
}

font.all{
    size: 3 !important;
    font-family: verdana !important;
}

.good {
    font-size: 90px !important;
    color: green !important;
    font-family: verdana !important;
}

.minor {
    font-size: 90px !important;
    color: orange !important;
    font-family: verdana !important;
}

.major {
    font-size: 90px !important;
    color: red !important;
    font-family: verdana !important;
}

.black {
    font-size: 90px !important;
    color: black !important;
    font-family: verdana !important;
}
