<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="author" content="rtsfred3">
        <meta name="application-name" content="GitHub Status Components">
        <meta name="theme-color" content="#53C68C">
        <meta name="description" content="A website to monitor GitHub Status Components.">
        <meta name="keywords" content="GitHubStatus, GitHub Status, GitHub Status Components, GitHub, Status, Components">
        <meta property="og:site_name" content="GitHub Status Components">
        <meta property="og:title" content="GitHub Status Components">
        <meta property="og:description" content="A website to monitor GitHub Status Components.">
        <meta property="og:image" content="https://githubstat.us/img/status-facebook.png">
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://githubstat.us/components/">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="GitHub Status Components">
        <meta name="twitter:description" content="A website to monitor GitHub Status Components.">
        <meta name="twitter:image:src" content="https://githubstat.us/img/status-twitter-min.png">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="GitHub Status Components">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="#53C68C">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="HandheldFriendly" content="true" />

        <link rel="canonical" href="https://githubstat.us/components/" />

        <link rel="stylesheet" type="text/css" href="components.css">
        <script src="components.js"></script>

        <title>GitHub Status Components</title>
    </head>
    <body>
        <script>setInfo('https://www.githubstatus.com/api/v2/components.json', Status);</script>
    </body>
</html>
