body {
  padding: 0px;
  margin: 5px;
  font-family: verdana !important;
}

hr {
  height: 7.5px;
  color: grey;
  background-color: grey;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 2.5px;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.unavailable-font{
  font-size: 30pt !important;
}

#mainStatus{
  margin-top: -20px;
  /* padding: 25vh 0%; */
  font-size: 48pt !important;
}

.align-center{
  text-align: center;
}

.outlineContainer{
  width: 100%;
  overflow: auto;
}

.inline{
  /* display: inline-block; */
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

svg {
  height: 27px;
  margin-top: -5px;
  margin-bottom: -5px;
}

@media only screen and (max-width: 767px) {
    .link {
      margin-right: 5px;
      margin-top: 5px;
      margin-bottom: 0px;
    }

    .reload{
      width: 40px;
      padding: 0px;
    }

    .what{
      display: none;
    }
}

@media only screen and (min-width: 768px) {
    .link {
      margin-right: -10px;
    }

    .reload{
      width: 40px;
    }

    .col-sm-6{
      height: 100% !important;
      /* vertical-align: middle !important; */
    }

    .vert-align{
      margin-top: 15% !important;
    }

    .wrapper{
      height: 100vh !important;
    }

    .rowm{
      height: 100% !important;
    }

    .what{
      min-height: 0% !important;
      height: 25% !important;
      width: 100% !important;
    }
}

.footer{
  position: fixed;
  bottom: 0;
  text-align: center;
}

font{
  color: #404040 !important;
  font-size: 10 !important;
  font-family: verdana !important;
}

.all{
  size: 3;
  font-family: verdana;
}

.green, .good {
  color: green !important;
  font-family: verdana;
}

.orange, .minor {
  color: orange !important;
  font-family: verdana;
}

.red, .major {
  color: red !important;
  font-family: verdana;
}

.black {
  color: black !important;
  font-family: verdana;
}

.date {
  font-size: 10;
  color: black !important;
  font-family: verdana;
}

.icon {
  height: 27px;
  fill: #2D8A54;
}
