table {
    border: 0px solid black;
    border-collapse: collapse;
    left: 0px;
    padding: 0px;
    margin: 0px;
    margin-bottom: 0px;
}

tr, td {
    border: 0px solid black;
    padding: 2px;
    margin: 0px;
}

table#t01 {
    border: 0px solid black;
    border-collapse: collapse;
}

tr#t02 {
    border: 0px solid black;
}

td#stock {
    border: 0px solid black;
    border-collapse: collapse;
}

td.size{
    border: 1px solid black !important;
    width: 10px !important;
}

td.green, td.goodt {
    background-color: #339966 !important;
}

td.orange, td.minort {
    /* border: 1px solid black !important; */
    background-color: #DBAB09 !important;
    /* width: 10px !important; */
}

td.red, td.majort {
    /* border: 1px solid black !important; */
    background-color: #E25D10 !important;
    /* width: 10px !important; */
}

td.red, td.criticalt {
    /* border: 1px solid black !important; */
    background-color: #DC3545 !important;
    /* width: 10px !important; */
}

td#dot {
    border: 1px solid black;
    width: 15px;
}
