body {
    padding: 0px;
    margin: 5px;
}

hr {
    height: 7.5px;
    color: grey;
    background-color: grey;
    margin: 0px;
    margin-top: 0px;
    margin-bottom: 2.5px;
    box-sizing: content-box;
    border: 0;
    border-top: 1px solid #eeeeee;
}


#mainStatus{
  text-align: center;
}

@media only screen and (max-width: 768px) {
    .main-font {
        font-size: 15vw;
    }
}

@media only screen and (min-width: 769px) {
    .main-font {
        font-size: 56pt;
    }
}

.unavailable-font{
  font-size: 10vw;
}

.outlineContainer{
    width: 100%;
    overflow: auto;
}

.inline{
    display: inline-block;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

svg {
    height: 27px;
    margin-top: 0px;
    margin-bottom: -5px;
}

button {
    padding: 12px 30px;
    margin: 0px;
    background-image: url("../img/refresh.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
}

font{
    color: #404040;
    font-size: 10;
    font-family: verdana;
}

.all{
    size: 3;
    font-family: verdana;
}

.greens, .good {
  color: green !important;
  font-family: verdana;
}

.oranges, .minor {
  color: orange !important;
  font-family: verdana;
}

.reds, .major {
  color: red !important;
  font-family: verdana;
}

.black {
  color: black !important;
  font-family: verdana;
}

.date {
  font-size: 9pt !important;
  color: black !important;
  font-family: verdana;
}

.icon {
    height: 27px;
    fill: #2D8A54;
}
