:root {
    --good: #339966;
    --none: var(--good);
    --minor: #DBAB09;
    --major: #E25D10;
    --critical: #DC3545;
    --maintenance: #0366D6;
    --loading: #4F93BD;
    --unavailable: var(--loading);
    --error: #646464;
    --font: var(--error);

    --incident-good: var(--good);
    --incident-none: '#000000';
    --incident-minor: '#F1C40F';
    --incident-major: '#FF9900';
    --incident-critical: '#990000';
    --incident-maintenance: var(--maintenance);
    --incident-error: var(--error);

    --good-text: "good";
    --none-text: var(--good-text);
    --minor-text: "minor";
    --major-text: "major";
    --critical-text: "critical";
    --maintenance-text: "maintenance";
    --loading-text: "loading";
    --unavailable-text: "unavailable";
    --error-text: "error";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: arial;
}

.statuspage-status:has(.fullScreen), :has(.fullScreen), .fullScreen, [fullScreen] {
    height: 100vh;
}

statuspage-status, .statuspage-status:not(.fullScreen) {
    height: 240px;
}

statuspage-status, .statuspage-status {
    width: 100vw;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    display: flex;
    font-size: 48pt;
}

statuspage-status[data-status]::before, .statuspage-status[data-status]::before {
    content: attr(data-status);
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

statuspage-status[data-status="none"]::before, statuspage-status[data-status="good"]::before, .statuspage-status[data-status="none"]::before, .statuspage-status[data-status="good"]::before {
    content: var(--good-text);
}

@media only screen and (min-width: 2048px) and (min-height: 1080px) {
    statuspage-status, .statuspage-status { font-size: 12em; }
}

@media only screen and (min-width: 2100px) and (min-height: 1100px) {
    statuspage-status, .statuspage-status { font-size: 16em; }
}

@media only screen and (min-width: 3000px) and (min-height: 2000px) {
    statuspage-status, .statuspage-status { font-size: 16em; }
}

[data-status="none"], [data-status="good"] {
    background-color: var(--none);
}

[data-status="minor"] {
    background-color: var(--minor);
}

[data-status="major"] {
    background-color: var(--major);
}

[data-status="critical"] {
    background-color: var(--critical);
}

[data-status="maintenance"] {
    background-color: var(--maintenance);
    font-weight: 500;
}

[data-status="unavailable"], [data-status="loading"] {
    background-color: var(--loading);
}

[data-status="error"] {
    background-color: var(--error);
}

@media only screen and (min-width: 351px) and (max-width: 450px) {
    [data-status="maintenance"] { font-size: 36pt; }
}

@media only screen and (min-width: 251px) and (max-width: 350px) {
    [data-status="maintenance"] { font-size: 30pt; }
}

@media only screen and (min-width: 151px) and (max-width: 250px) {
    [data-status="maintenance"] { font-size: 20pt; }
}