:root {
    --good: #339966;
    --none: var(--good);
    --minor: #DBAB09;
    --major: #E25D10;
    --critical: #DC3545;
    --maintenance: #0366D6;
    --loading: #4F93BD;
    --unavailable: var(--loading);
    --error: #646464;
    --font: var(--error);
}

body > :not([data-status="none"]):not([data-status="good"]):not([data-status="minor"]):not([data-status="major"]):not([data-status="critical"]):not([data-status="maintenance"]):not([data-status="unavailable"]):not([data-status="loading"]):not([data-status="error"]) {
    background-color: var(--error);
}

body > :not([data-status="none"]):not([data-status="good"]):not([data-status="minor"]):not([data-status="major"]):not([data-status="critical"]):not([data-status="maintenance"]):not([data-status="unavailable"]):not([data-status="loading"]):not([data-status="error"])::before {
    content: 'error';
}

[data-status]::before {
    content: attr(data-status);
}

[data-status="none"], [data-status="good"] {
    background-color: var(--none);
}

[data-status="minor"] {
    background-color: var(--minor);
}

[data-status="major"] {
    background-color: var(--major);
}

[data-status="critical"] {
    background-color: var(--critical);
}

[data-status="maintenance"] {
    background-color: var(--maintenance);
}

[data-status="unavailable"], [data-status="loading"] {
    background-color: var(--loading);
}

[data-status="error"] {
    background-color: var(--error);
}