.messages{
  margin: 15px 0px 0px 0px;
  padding: 0px;
}

.status-box{
  height: 45px;
  font-size: 14pt;

  color: white;
  display: table !important;
}

.text-margin{
  font-size: 11pt;
  margin: 3vh 2.5vw;
}

.good{
  width: 120px;
  background-color: #339966 !important;
}

.minor{
  width: 200px;
  background-color: #FF9900 !important;
}

.major{
  width: 280px;
  background-color: #990000 !important;
}

@media only screen and (max-width: 800px) {
  .good{ width: 25vw; }

  .minor{ width: 50vw; }

  .major{ width: 100vw; }

  .text-margin{ margin: 3vh 4vw; }
}

@media only screen and (max-width: 400px) {
  .text-margin{ margin: 3vh 7vw; }
}

.message-status{
  width: 100%;
  padding-right: 10px;
  vertical-align: middle;
  display: table-cell !important;
}
