.messages{
  margin: 0px !important;
  padding: 0px !important;
}

.status-box{
  height: 45px;
  font-size: 16pt;

  margin-top: 1vh;
  margin-bottom: 1.25vh;

  color: white;
  display: table !important;
}

.text-margin{
  margin-left: 1.5vw !important;
}

.text-margin-bottom{
  margin-bottom: 3vh !important;
}

.good{
  width: 120px;
  background-color: #339966 !important;
}

.minor{
  width: 200px;
  background-color: #FF9900 !important;
}

.major{
  width: 280px;
  background-color: #990000 !important;
}

@media only screen and (max-width: 350px) {
  .good{ width: 35vw; }

  .minor{ width: 65vw; }

  .major{ width: 100vw; }
}

.message-status{
  width: 100%;
  padding-right: 10px;
  vertical-align: middle;
  display: table-cell !important;
}
